
  .cardSection {
    background-color: white;
    box-shadow: 0 40px 40px rgb(226, 226, 226);
    border-radius: 12px;
    cursor: pointer;  
  }
  
  .thumbNail {
    width: 260px;
    height: 198px;
    margin: 20px 20px 20px 20px;
    align-self: center;
    border-radius: 13px;
  }
  
  .cardSection h6 {
    margin: 20px 20px 20px 20px ;
  }
  
  .author{
    display: flex;
    flex-direction: row;
  }

  .avatar {
    width: 57px;
    height: 57px;
    background-size: cover;
    border-radius: 50%;
    margin: 5px 0 0 20px;
    align-self:flex-start;
  }

  .authorContainer{
    display: flex;
    flex-direction: row;
  }

  .author {
    flex-direction: column;
    align-items: flex-start;
    margin:  20px 20px 20px 20px;
  }
  .author p {
    font-size: 10px;
    color: #2B2C34;
    margin: 2px 0 0 5px;
  }

  .name{
    font-weight: bold;
  }

  .onClose{
   display: flex;
   justify-content: center;
   background-color: #C0C0C0;
   font-weight: bolder;
  }

