
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&family=Ubuntu:wght@500&display=swap');

.App {
  display: grid;
  grid-template-rows: auto;
  border: 10px red solid;
  background-color: #E4E5E9;
  font-family: 'Square Peg', cursive;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}